{% extends "layout.html" %}
{% block body %}
  <p>
    Hello and welcome to the flask based Classics_reTold interface! This is unlikely
    to go into production anywhere, because Classics_reTold is primarily just a
    tumblr bot, whose handiwork can be viewed <a href="https://classicsretold.tumblr.com">
    here.</a>
    <br>
    This bot is written in python, and uses the Flask framework along with Docker
    for this web presence. If you would like to take a look at the code, the
    <a href="https://github.com/dwright213/classics_retold">repository on github</a>
    is open to your parusal.
  </p>
{% endblock %}
